$primary: #003c6c;
$secondary: #6d3517;
$warning: #bd753a;
$info: #f6d8ab;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "warning":    $warning,
  "info":       $info,
//   "success":    $success,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
);

@import '~bootstrap/scss/bootstrap.scss';
