$primary: 	#d9b327;
$secondary: #8a3a1b;
$warning: #bd753a;
$info: #e02a0f;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "warning":    $warning,
  "info":       $info,
//   "success":    $success,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
);

@import '~bootstrap/scss/bootstrap.scss';
